#contact {
  min-height: calc(100vh - 5rem);
  width: 100vw;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactTitle {
  font-size: 3rem;
  margin-bottom: 0.2rem;
}

.contactDesc {
  padding: 1rem;
  font-size: medium;
  font-weight: 300;
}
.contactForm {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
}
.name,
.email,
.msg {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: rgb(40, 40, 40);
}
.submitbtn {
  background: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 3.5rem;
  margin: 1rem;
  cursor: pointer;
  transition: ease 0.3s all;
}
.submitbtn:hover {
  transform: translateY(5px);
}
.links {
  display: flex;
  flex-wrap: wrap;
}
.link:hover {
  transform: translateY(5px);
}
.link {
  object-fit: cover;
  width: 2.5rem;
  margin: 0 1rem;
  cursor: pointer;
  transition: ease 0.3s all;
}

@media screen and (min-width: 720) {
  #contact {
    min-height: calc(100vh - 12rem);
  }
}
